<html>
    <head>
        <title>new tab</title>
        <style>
        h1,h2,h3,h4,h5,h6
        {
            background:yellow;
            color:black;
        }
        body
        {
            background:cyan;
        }
    </style>
    </head>
    <body>
        <center>
            <h1>Good morning </h1>
            <h2>good morning</h2>
            <h3>good morning</h3>
            <h4>good morning</h4>
            <h5>good morning</h5>
            <h6>good morning</h6>
        </center>
    </body>
</html>