<html>
    <head>
        <title>new tab</title>
       <style>
        h1
        {
            background:yellow;
            color:red;
            display:inline-black;
        }
        #b
        {
            background:blue;
            color:cyan;
            display:inline-black;
        }
        body
        {
            background:cyan;
        }
        </style>
    </head>
    <body>
        <center>
            <h1>Hello Guys </h1>
            <h1> good morning</h1>
            <h1>this is my first program today</h1>
            <h1>im thinking good </h1>
            <h1>good</h1>
            <h1>good</h1>
           
        </center>
    </body>
</html>